Source: ros-kinetic-cnn-bridge
Section: misc
Priority: extra
Maintainer: Noam C. Golombek <ngolombek@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-rospy, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-cnn-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-rospy
Description: The cnn_bridge package take freeze graphs and publishes them as ROS messages
